html,
body {
    touch-action: none;

    /* touch-action: none; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 1.2em; */
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    /* overflow: hidden;  */
    display: flex;
    flex-direction: column;
    /* display: block;  No floating content on sides */
}

.container {
    background-color: #fff;/*rgb(240, 240, 240);*/
    border-radius: 5px;
    padding: 2em;
    padding-top: 0.5em;
    box-shadow: 0px 0px 30px #e0e0e0;
    border-style: solid;
    border-width: 1px;
    border-color: #b2b2b2;
}

.center-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color: #fff;/*rgb(240, 240, 240);*/
    border-radius: 5px;
    padding: 2em;
    padding-top: 0.5em;
    z-index: 100;
    box-shadow: 0px 0px 30px #e0e0e0;
    border-style: solid;
    border-width: 1px;
    border-color: #b2b2b2;
}

#login-container {
    width: 25em;
    height: auto;
}

#settings-container {
    width: 90%;
}

#add-room-container {
    width: 350px;
    height: 80%;
}

#topbar {
    overflow: hidden;
    /* flex: 0 0 2em; */
    display: flex;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 1;
}

.pcr-button {
    height: auto;
    min-width: 3.5em;
}

#topbar button {
    height: 25px;
    margin: 2px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: white;
    min-width: 6em;
}
#topbar button:hover {
    background-color: #eee;
}

.pickr {
    position: relative;
    overflow: visible;
    transform: translateY(0);
    display: flex;
}

#leftbar {
    width: 250px;
    display: flex;
    flex-direction: column;
    max-height: 60%;
    transform:none;
    padding: 0;
    left: 30px;
    top: 60px;
    background-color: white;
    z-index: 1;
    transition: 1s;
    /* position: absolute; */
    /* box-shadow: 0px 0px 30px #e0e0e0; */
    /* border-radius: 5px; */
    /* overflow-y: scroll; */
}

#leftbar.no-room-selected {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#leftbar-header {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    height: 3em;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: #999;
}

#leftbar-body {
    overflow-y: scroll;
    scrollbar-width: thin;
    flex: 1 0;
    /* width: 100%; */
}

#leftbar-expand {
    display: flex;
    flex-direction: column;
    transition: 1s;
    height: 20em;
    overflow: hidden;
}

#leftbar-footer {
    border-style: solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 2.5em;
    line-height: 2.5;
    text-align: center;
    margin: 0;
    border-color: #b2b2b2;
    background-color: #eee;
    border-width: 0;
    border-top-width: 1px;
    transition: 0.5s;
}

#leftbar-footer:hover {
    /* border-style: dashed; */
    background-color: #ddd;
}

#add-room-button {
    width: 100%;
    margin: 0;
    line-height: 2.5em;
    background-color: #fff;
    transition: 0.8s;
    border: none;
    margin-top: 10px;
    border-top: solid 1px #999;
}

#add-room-button:hover {
    background-color: #4bb64f;

}

.room-button {
    margin: 0px;
    background-color: #fff;
    text-align: left;
    padding: 5px;
    padding-left: 20px;
    font-size: 14px;
    width: 100%;
    transition: 1s;
    border-width: 0px;
    border-left-width: 2px;
    border-left-style: solid;
}

.room-button p {
    margin: 0.5em;
}

.room-button:hover {
    background-color: rgb(152, 166, 194);
    /* border-color: black; */
}

#canvas {
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
}

#paper-canvas {
    min-height: 0;
    min-width: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
    /* background-color: #ff000011; */
    top: 0;
    left: 0;
    position: absolute;
}

#loading {
    display: block;
    position: absolute;
    transform: translate(0, -80px);
    padding-left: 2em;
    top: 0px;
    box-shadow: 0px 0px 30px #e0e0e0;
    font-weight: 300;
    left: 300px;
    right: 0;
    border-bottom-left-radius: 5px;
    height: 50px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

/* form{
    margin: 2em;
} */


button.submit:hover {
    background-color: #45a049;
}

#userIdLabel {
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px dashed #f69c55; */
}

#color-picker-canvas {
    position: absolute;
    pointer-events: all;
    bottom: 0;
    left: 0;
    width: 13em;
    height: 13em;
    /* z-index: 1; */
}

#tool-wheel {
    position: absolute;
    pointer-events: none;
    bottom: 50px;
    left: 1em;
    width: 16em;
    height: 16em;
}

.tool-elements {
    pointer-events: all;
    text-align: center;
    font-size: xx-small;
    width: 45px;
    height: 45px;
    margin: 0;
    box-shadow: 0px 0px 30px #e0e0e0;
    background-color: #ffffffdd;
    border-style: none;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.4s;
    position: absolute;
    transform: translate(-50%, 50%);
}

.tool-elements.active {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(73, 73, 73);
    /* border-style: dotted; */
    width: 52px;
    height: 52px;
}

.tool-elements:hover {
    background-color: white;
    box-shadow: 0px 0px 10px rgb(136, 136, 136);
}

#settings-button {
    pointer-events: all;
    position: absolute;
    margin: 0;
    transform: translate(-50%, 50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 17px;
    vertical-align: middle;
    text-align: center;
    background-color: transparent;
    /* background-color: red; */
    /* -webkit-mask: url("settings-symbolic.svg") no-repeat center;
    mask: url("settings-symbolic.svg") no-repeat center; */
    border-style: none;
}

#line-type-selector {
    position: absolute;
    transform: translate(-50%, 50%);

    pointer-events: all;
    /* text-align: center; */
    /* font-size: xx-small; */
    width: 45px;
    height: 45px;
    margin: 0;
    box-shadow: 0px 0px 30px #e0e0e0;
    background-color: #ffffffdd;
    border-style: none;
    overflow: hidden;
    border-radius: 50%;
    transition: 0.2s;
}

#add-room-list {
    scrollbar-width: thin;
    flex: 100;
    overflow-y: scroll;
}

.notebook-list {
    overflow: hidden;
    transition: all 0.4s ease 0s;
}

.notebook-header {
    margin-top: 10px;
    border-left-width: 10px;
    border-left-style: solid;
    padding: 5px;
    background-color: #fff;

}