{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "jsxElem"
            }
        ],
        [
            "@babel/plugin-transform-for-of",
            {
                // "loose": true, // defaults to false
                "allowArrayLike": true // defaults to false
            }
        ]
    ]
}