{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        [
            "@babel/preset-react",
            {
                "pragma": "jsxElem.createElement",
                "pragmaFrag": "jsxElem.Fragment"
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-for-of",
            {
                "allowArrayLike": true
            }
        ]
    ]
}